<ion-content>
  <div id="container" class="p-2">

    <ion-icon id="cerrar" name="close-circle-outline" (click)="close()"></ion-icon>

    <swiper-container space-between="30" pagination navigation loop="true" autoplay="true">
      <swiper-slide>
        <div class="caption-wrapper">
          <h1 class="caption-title">Lamborghini Sian</h1>
          <img
            src="https://cdn.topgear.es/sites/navi.axelspringer.es/public/media/image/2022/04/lamborghini-sian-2671367.jpg?tf=640x"
            alt="Slide 1">
          <p class="caption-text">Con un nombre derivado del dialecto boloñés que alude a la palabra 'rayo', el
            Lamborghini Sian se presenta como un híbrido con un motor V12 atmosférico de 6,5 litros junto a un sistema
            eléctrico.</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="caption-wrapper">
          <h2 class="caption-title">Koenigsegg Jesko</h2>
          <img
            src="https://cdn.topgear.es/sites/navi.axelspringer.es/public/media/image/2022/07/christian-von-koenigsegg-koenigsegg-jesko-2769977.jpg?tf=640x"
            alt="Slide 2">
          <p class="caption-text">El heredero del todopoderoso Koenigsegg Agera RS, y llamado a volver a batallar contra
            Bugatti por el récord mundial de velocidad en un coche de producción y legal para la calle.</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="caption-wrapper">
          <h2 class="caption-title">Bugatti Chiron Super Sport</h2>
          <img
            src="https://cdn.topgear.es/sites/navi.axelspringer.es/public/media/image/2021/12/bugatti-chiron-super-sport-2573691.jpg?tf=640x"
            alt="Slide 3">
          <p class="caption-text">El motor más espectacular del planeta en uno de los coches más rápidos del mundo. El
            Bugatti Chiron Super Sport se basa en el modelo (no legal para la calle) que Andy Wallace llevó hasta los
            490,48 km/h.</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="caption-wrapper">
          <h2 class="caption-title">Lotus Evija</h2>
          <img
            src="https://cdn.topgear.es/sites/navi.axelspringer.es/public/media/image/2021/12/lotus-evija-2569563.jpg?tf=640x"
            alt="Slide 3">
          <p class="caption-text">Se puede afirmar sin problemas que es el deportivo eléctrico con el diseño más
            rompedor actualmente. Un Lotus en toda regla, con un pequeño tamaño comparado a sus rivales y un peso
            comedido, dentro de la tecnología EV.</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>